page-home {
  
.round-border{
    width:100%;
    height:100%;
    border: solid 4px white;
    border-radius:5px;
    text-align:center;
    font-family:"new";
    background:map-get($colors, unimy);
    color:white;
}
}
